<h2 mat-dialog-title>Es wurde aufgedeckt</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ data.playerName }} hat aufgedeckt:</h3>
  <p>
    Es wurde(n) {{ data.diceCount }} x {{ data.dice }}er aufgedeckt - gesucht
    waren {{ data.count }} x {{ data.dice }}er
  </p>
  <p>
    {{ data.playerName }} <span *ngIf="data.success">hatte Recht</span
    ><span *ngIf="!data.success">hat verkackt</span>
  </p>
  <p>
    {{ data.fromPlayer }} <span *ngIf="!data.success">lag richtig</span
    ><span *ngIf="data.success">hat verloren</span>
  </p>
  <p *ngIf="data.gameFinished">
    DAS SPIEL IST BEENDET:
    <span *ngIf="!data.success"> {{ data.playerName }}</span
    ><span *ngIf="data.success"> {{ data.fromPlayer }}</span> hat verloren!
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Okay</button>
</mat-dialog-actions>
